name: Update Stock Data

on:
  schedule:
    # 한국 시간(KST) 평일 오전 9시 00분부터 오후 5시 00분까지 10분마다 실행
    # UTC 기준 00:00 ~ 08:00
    - cron: '*/10 0-8 * * 1-5'
  workflow_dispatch: # 이 줄이 있어야 수동 실행 버튼이 생깁니다.

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install pandas yfinance supabase financial-data-reader

      - name: Run script
        env:
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
        run: python data_worker.py